<div class="FirstView">
  <section class="container">
    <h2 class="FirstView__title">
      まだ体験したことのない<br>
      旅をしよう
    </h2>

    <div class="FirstViewSearch">
      <form action="" accept-charset="UTF-8" method="get">
        <input class="form-control FirstViewSearch__input" placeholder="エリア名を入力" type="text" name="area" id="area">
        <input type="submit" name="commit" value="検索" class="btn FirstViewSearch__button" data-disable-with="検索">
      </form>   
    </div>
  </section>
</div>