<section class="section">
    <div class="container">
        <article class="panel">
            <div class="panel-heading">
              新規登録
            </div>
            <%= form_for @room do |f| %>
              <div class="form-group">
                <label for="home_type">施設名</label>
                <input type="text" id="home_type" class="form-control">
              </div>
              <div class="form-group">
                <label for="room_type">施設詳細</label>
                <textarea id="room_type" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="room_price">料金</label>
                <input type="number" id="room_price" class="form-control" required >
              </div>
              <div class="form-group">
                <label for="home_city">住所</label>
                <input type="text" id="home_city" class="form-control">
              </div>
              <div class="form-group">
                <label for="room_file">画像アップロード</label>
                <input type="file" id="room_file" class="form-control-file">
              </div>
              <div><%= f.submit "登録する", class: "button is-primary" %></div>
            <% end %>
    </div>
</section>
